<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ecobar-Alerts</title>

        <link rel="stylesheet" href="/vendor/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/vendor/font-awesome/5.6.1/css/all.min.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>

        <script type="text/javascript" src="/vendor/jquery/3.3.1/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav navbar navbar-expand-lg bg-nav" style="list-style-type: none;">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mx-auto">
                        <div class="govt-banner">
                            <p>(U) You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.</p>
                            <p>(U) By using this IS (which includes any device attached to this IS), you consent to the following conditions:</p>
                            <ul>
                                <li>The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, 
                                penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law 
                                enforcement (LE), and counterintelligence (CI) investigations.</li>
                                <li style="list-style-type: none;">&nbsp;</li>
                                <li>At any time, the USG may inspect and seize data stored on this IS.</li>
                                <li style="list-style-type: none;">&nbsp;</li>
                                <li>Communications using, or data stored on, this IS are not private, are subject to routine monitoring, 
                                interception and search, and may be disclosed or used for any USG-authorized purpose.</li>
                                <li style="list-style-type: none;">&nbsp;</li>
                                <li>This IS includes security measures (e.g., authentication and access controls) to protect USG interests -- not for your
                                personal benefit or privacy.</li>
                                <li style="list-style-type: none;">&nbsp;</li>
                                <li>Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or 
                                monitoring of the content of privileged communications, or work product, related to personal representation or 
                                services by attorneys, psychotherapists, or clergy, and theirs assistants. Such communications and work product are 
                                private and confidential. See User Agreement for details.</li>
                            </ul>
                            <br/>
                            <div class="gx-button-div">
                                <a class="gx-button" href="/gx/auth">Sign with Geoaxis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
