<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EcobarAlerts</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
        <h1>Start Page</h1>
    </header>

  <nav>
    <span><a href="/">Home</a> | </span>
    <span><a href="/adminDashboard">Admin Dashboard</a> | </span>
    <span><a href="/clientDashboard">Client Dashboard</a> | </span>
    <span><a href="/test">Public Test</a> | </span>
    <span><a href="/app/api">API</a> | </span>
    <span><a href="/app">Products</a> |</span>
    <span><a href="/app/products/AppA">App A</a> | </span>
    <span><a href="/app/products/AppB">App B</a> | </span>
    <span><a href="/app/products/AppC">App C</a></span>
  </nav>

</body>
</html>
