<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ecobar-Alerts</title>
    </head>
    <body>
        <div style="margin: auto; width: 50%; padding: 20px 100px 100px 100px;">
            <h2 style="width: 100%; text-align: center;">Welcome to the Ecobar-Alerts Admin Dashboard</h2>
            <div style="font-size: 18px; padding: 20px 80px 80px 80px; text-align: left; width: 800px; border: 2px solid #777; height: 400px;">
                <p>(U) You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.</p>
                <p>(U) By using this IS (which includes any device attached to this IS), you consent to the following conditions:</p>
                <ul>
                    <li>The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, 
                    penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law 
                    enforcement (LE), and counterintelligence (CI) investigations.</li>
                    <li style="list-style-type: none;">&nbsp;</li>
                    <li>At any time, the USG may inspect and seize data stored on this IS.</li>
                    <li style="list-style-type: none;">&nbsp;</li>
                    <li>Communications using, or data stored on, this IS are not private, are subject to routine monitoring, 
                    interception and search, and may be disclosed or used for any USG-authorized purpose.</li>
                    <li style="list-style-type: none;">&nbsp;</li>
                    <li>This IS includes security measures (e.g., authentication and access controls) to protect USG interests -- not for your
                    personal benefit or privacy.</li>
                    <li style="list-style-type: none;">&nbsp;</li>
                    <li>Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or 
                    monitoring of the content of privileged communications, or work product, related to personal representation or 
                    services by attorneys, psychotherapists, or clergy, and theirs assistants. Such communications and work product are 
                    private and confidential. See User Agreement for details.</li>
                </ul>
                <br/>
                <div style="width: 100%; text-align: center;">
                    <a href="/auth/gx">Sign with Geoaxis</a>
                </div>
            </div>
        </div>
    </body>
</html>