<header>
  <h1>
      Welcome to {{ title }}!
  </h1>
</header>

<div *ngIf="tool">

  <nav>
    <a href="/">Home</a> | <a routerLink="/api">API</a> | <a routerLink="/products">Products</a> | <a target="_blank">{{ tool.name }}</a>
  </nav>
      
  <br/><br/>

  <div>Name: {{ tool.name }}</div>
  <div>Short Name: {{ tool.shortName }}</div>
  <div>Classification: {{ tool.classification }}</div>
  <div class='desc'>{{ tool.desc }}</div>
  <div *ngFor="let link of tool.links">
    <a href="{{ link.url }}">{{ link.name }}</a><br/>
  </div>

</div>
